name: Build packages

on:
  push:

jobs:
  rubygems:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: build/ruby

    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.7'
      - name: Install gems
        run: bundle install
      - name: Generate ruby
        run: bundle exec rake generate_ruby:all
      - name: Run loading tests
        run: bundle exec rspec spec/tucana_spec.rb
      - name: Run tests
        run: bundle exec rspec

  crates:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: build/rust

    steps:
      - uses: actions/checkout@v6
      - name: Setup rust
        run: rustup update --no-self-update stable
      - name: Install protoc
        run: curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v28.0-rc1/protoc-28.0-rc-1-linux-x86_64.zip && unzip protoc-28.0-rc-1-linux-x86_64.zip -d ${{ runner.temp }}/proto && chmod +x ${{ runner.temp }}/proto/bin/protoc && ${{ runner.temp }}/proto/bin/protoc --version
      - name: Build crate
        run: PATH=${{ runner.temp }}/proto/bin:$PATH cargo build
        env:
          RUST_BACKTRACE: 'full'
      - name: Test De/Serialization from/to json
        run: PATH=${{ runner.temp }}/proto/bin:$PATH cargo test --features sagittarius
        env:
          RUST_BACKTRACE: 'full'
      - name: Package crate
        run: cargo package --allow-dirty

  npm:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: build/ts

    steps:
      - uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: npm ci
      - name: Generate ts
        run: npm run generate

